.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #0e0bc0;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 10px;
}
.selectedItem {
  background-color: #0a0875;
  color: cornsilk;
  width: 80%;
  border-radius: 10%;
  margin: auto;
  margin-bottom: 10px;
}

.App-link {
  color: #61dafb;
}
