* {
  box-sizing: border-box;
  /* background-color: rgb(219, 212, 212); */
}
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: stretch;
  max-height: 100vh;
}
.App-header {
  background-color: #0e0bc0;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 10px;
}
.selectedItem {
  background-color: #0a0875;
  color: cornsilk;
  width: 80%;
  border-radius: 5%;
  margin: auto;
  margin-bottom: 10px;
  font-size: 2em;
  padding: 10px;
}
.listWrap {
  background-color: rgb(16, 10, 92);
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* padding: 1px; */
  margin-bottom: 10px;
  font-size: 1.2em;
  color: rgb(183, 186, 189);
  border: solid black 1px;
  border-radius: 5px;
}
.list{
  display:flex;
  margin-left: 5px;
}
main {
  overflow: auto;
}
button {
  background-color: #004ba1;
  color: white;
  border: solid black 1px;
  border-radius: 5px;
  
}
#listbtn{
  margin: 15px;
}
#footerbtn{
  margin-left: 5px;
}
#item{
  margin-left: 4px;
}
#add-item {
  height: 50px;
}

footer {
  padding: 5px;
}

@media screen and (max-width: 800px) {
  .App {
    height: 100vh;
  }

  header {
    flex: 0 0 auto;
  }
  #add-item {
    flex: 0 0 auto;
  }
  main {
    flex: 1 1 auto;
    overflow: auto;
  }
  footer {
    flex: 0 0 auto;
  }
}
